Name : Disha Patare<br>
Roll No. : 42548<br>
Branch : B.E AI&DS<br>
Batch : B2<br>
Computer Laboratory II : Information Retrieval

Assignment 4 : Implement e-mail spam filtering using text classification algorithm with appropriate dataset.

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [2]:
# Load dataset 
spam_df = pd.read_csv("spam.csv")
spam_df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [3]:
spam_df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [4]:
spam_df['spam'] = spam_df['Category'].apply(lambda x: 1 if x == 'spam' else 0)

In [5]:
spam_df

     Category                                            Message  spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will ü b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [6]:
# Split the dataset into train and test sets
x_train, x_test, y_train, y_test = train_test_split(spam_df.Message, spam_df.spam, test_size = 0.25)

In [7]:
x_train

5002    Nope. Since ayo travelled, he has forgotten hi...
275                       No objection. My bf not coming.
3322                               Yo im right by yo work
3469    yay! finally lol. i missed our cinema trip las...
4948    Great News! Call FREEFONE 08006344447 to claim...
                              ...
3564    Auction round 4. The highest bid is now £54. N...
1429    Tell you what, if you make a little spreadshee...
5093                     Gokila is talking with you aha:)
600                I'm going out to buy mum's present ar.
2834    You've won tkts to the EURO2004 CUP FINAL or £...
Name: Message, Length: 4179, dtype: object

In [8]:
# Convert text into TF-IDF features
cv = CountVectorizer()
x_train_count = cv.fit_transform(x_train.values)

In [9]:
x_train_count

<4179x7412 sparse matrix of type '<class 'numpy.int64'>'
	with 55127 stored elements in Compressed Sparse Row format>

In [10]:
model = MultinomialNB()
model.fit(x_train_count, y_train)

MultinomialNB()

In [11]:
email_ham = ["Hey how are you?"]
email_ham_count = cv.transform(email_ham)
model.predict(email_ham_count)

array([0], dtype=int64)

In [12]:
email_spam = ["gift "]
email_spam_count = cv.transform(email_spam)
model.predict(email_spam_count)

array([0], dtype=int64)

In [13]:
x_test_count = cv.transform(x_test)
model.score(x_test_count, y_test)

0.9877961234745154